ENVIRONMENT=development
JWT_SECRET=FOO_BAR
DATABASE_URL=postgresql://dev_user:dev_password@127.0.0.1:5432/dev_db
REDIS_URL=redis://:dev_redis_password@127.0.0.1:6379
VAULT_ROOT_KEY=RANDOM_KEY # Generate one with command: `openssl rand -hex 32`
STORAGE_ENDPOINT=http://127.0.0.1
STORAGE_PORT=9000
STORAGE_ACCESS_KEY=storage_admin
STORAGE_SECRET_KEY=dev_minio_password
STORAGE_BUCKET=hub-assets
STORAGE_USE_SSL=false